<style>

    .select > select.input-xs {
        height: 25px;
        line-height: 12px;

    }
    .smart-form .select > i {
        top: 7px;
        box-shadow: 0 0 6px 5px white;
    }
</style>

<section id="widget-grid">
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                    <h2>Policies {{holdername}}</h2>

                    
                    <div class="widget-toolbar smart-form" role="menu">

                        <label class="input">
                            <!--<i class="icon-append fa fa-question-circle"></i>-->
                            <input type="text" style="width:150px" ng-model="policyfilter" class="input-sm" placeholder="Search">
                            <!--<b class="tooltip tooltip-top-right">
                        <i class="fa fa-warning txt-color-teal"></i>
                        Type something to filter the policies
                    </b>-->
                        </label>
                    </div>

                    <div class="widget-toolbar" role="menu">
                        <!--<span class="onoffswitch-title"><i class="fa fa-location-arrow"></i> Show Lapsed</span>-->
                        <span class="onoffswitch-title"> Show Lapsed</span>
                        <span class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" ng-model="showLapsed" id="myonoffswitch">
                            <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span> <span class="onoffswitch-switch"></span> </label>
                        </span>
                    </div>

                    <div class="widget-toolbar">

                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-xs btn-warning" data-toggle="dropdown">
                                Actions <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a ng-class="{'text-muted': paying}" href="javascript:void(0);" ng-click="pay()">
                                        <span ng-hide="paying">Pay</span>
                                        <span ng-show="paying">Paying&nbsp;<i class="fa fa-cog fa-spin"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="clear()">Clear Amounts</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="payFullAmount()">Set Max Amount</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="javascript:void(0);">Currencies</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-click="currency=''" href="javascript:void(0);" ng-class="{'text-muted': currency}">All</a>
                                        </li>
                                        <li>
                                            <a ng-click="currency='EUR'" href="javascript:void(0);" ng-class="{'text-muted': currency != 'EUR'}"><i class="fa fa-euro"></i> EUR</a>
                                        </li>
                                        <li>
                                            <a ng-click="currency='USD'" href="javascript:void(0);" ng-class="{'text-muted':  currency != 'USD'}"><i class="fa fa-dollar"></i> USD</a>
                                        </li>
                                        <li>
                                            <a ng-click="currency='GBP'" href="javascript:void(0);" ng-class="{'text-muted':  currency != 'GBP'}"><i class="fa fa-gbp"></i> GBP</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </header>
                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table class="footable toggle-circle-filled table table-striped table-bordered table-hover" footable="{}">
                            <thead>
                                <tr>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'PolicyID', 'footable-sorted-desc': predicate === 'PolicyID' && reverse}" ng-click="order('PolicyID')" data-class="expand">Policy ID<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'PolicyReference', 'footable-sorted-desc': predicate === 'PolicyReference' && reverse}" ng-click="order('PolicyReference')" data-hide="phone,tablet">Reference<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'Provider', 'footable-sorted-desc': predicate === 'Provider' && reverse}" ng-click="order('Provider')" data-hide="phone">Provider<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'LOB', 'footable-sorted-desc': predicate === 'LOB' && reverse}" ng-click="order('LOB')" data-hide="phone,tablet">LOB<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'PolicyObject', 'footable-sorted-desc': predicate === 'PolicyObject' && reverse}" ng-click="order('PolicyObject')" data-hide="phone,tablet">Object<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="phone,tablet">Type</th>
                                    <th data-hide="">Amount</th>
                                    <th class="footable-sortable" ng-class="{'footable-sorted': predicate === 'RunningTotal', 'footable-sorted-desc': predicate === 'RunningTotal' && reverse}" data-hide="" ng-click="order('RunningTotal')">Running Total<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="all">Status</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="my-bold">
                                    <td>Totals:</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{paymentsTotal | number:2}}</td>
                                    <td>{{runningTotalsSum | number:2}}</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-class="{'txt-color-red': p.StatusID === 3 || p.StatusID === 4}"
                                    ng-repeat="p in filteredPolicies = (policies | filter: {'Currency': currency} | filter: policyfilter | notcancelledpoliciesfilter:!showLapsed) | orderBy:predicate:reverse" foo-row>
                                    <td>
                                        {{p.PolicyID}}
                                    </td>
                                    <td>
                                        {{p.PolicyReference}}
                                    </td>
                                    <td>
                                        {{p.Provider}}
                                    </td>
                                    <td>
                                        {{p.LOB}}
                                    </td>
                                    <td>
                                        {{p.PolicyObject}}
                                    </td>
                                    <!--<td>
                                {{p.MinDueDate | date : 'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{p.MaxDueDate | date : 'dd/MM/yyyy'}}
                            </td>-->
                                    <td class="smart-form">
                                        <label class="select">
                                            <select class="input-xs" ng-model="p.Payment.PaymentType" ng-options="t.ID as t.Description for t in paymentTypes"></select>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>
                                        <input ng-change="updateTotal()" style="width:70px" type="number" ng-model="p.Payment.Amount" min="0" />
                                    </td>
                                    <td>
                                        {{p.RunningTotal}} {{p.Currency}}
                                    </td>
                                    <td>
                                        {{p.Status}}
                                    </td>
                                </tr>
                                <tr class="txt-color-orangeDark no-footable-toggle" ng-show="loadingPolicies"><td colspan="11"><i class="fa fa-cog fa-spin fa-2x"></i> Loading policies...</td></tr>
                                <tr class="no-footable-toggle" ng-show="!policies.length && provider && !loadingPolicies"><td colspan="11">This provider does not have any policies</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>


<script>
    pageSetUp();
</script>


