
<div class="modal-header">
    <button type="button" ng-click="$dismiss('cancel')" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>

    <h3 class="modal-title">Policy Cancellation</h3>
</div>
<div class="modal-body no-padding">
    <form action="" id="cancellationform" name="cancellationform" class="smart-form">
        <header>
            Fill this form to cancel the Policy {{policy.PolicyID}}
        </header>

        <fieldset>
          
            <div class="row">

                <section class="col" ng-class="{'col-4': cancellation.notification === 'Ticket', 'col-6': cancellation.notification != 'Ticket'}">
                    <label class="label" for="notification">Notification Type:</label>
                    <label class="select" ng-class="{'state-error': !cancellationform.notification.firstTimer && cancellationform.notification.$invalid, 'state-success': cancellationform.notification.$valid}">
                        <select ng-model="cancellation.notification" name="notification" id="notification" required first-timer>
                            <option value="" selected="" disabled="">Select Notification Type</option>
                            <option value="Telephone">Telephone</option>
                            <option value="Ticket">Ticket</option>
                            <option value="Signed Document">Signed Document</option>
                        </select>
                        <i></i>
                    </label>
                    <em ng-show="!cancellationform.notification.firstTimer && cancellationform.notification.$invalid" class="invalid">
                        <i class="fa fa-warning"></i> Please select the cancellations' notification type
                    </em>
                </section>

                <section class="col" ng-class="{'col-4': cancellation.notification === 'Ticket', 'col-6': cancellation.notification != 'Ticket'}">
                    <label class="label" for="applicationnumber">Application Number</label>
                    <label class="input" ng-class="{'state-error':!cancellationform.applicationnumber.firstTimer && cancellationform.applicationnumber.$invalid, 'state-success':!cancellationform.applicationnumber.firstTimer && cancellation.ApplicationNumber}">
                        <input ng-model="cancellation.ApplicationNumber" placeholder="Application Number" type="number"
                               name="applicationnumber" id="applicationnumber" ng-pattern="/^[-]?[0-9]+$/" first-timer>
                    </label>
                    <em ng-show="!cancellationform.applicationnumber.firstTimer && cancellationform.applicationnumber.$invalid" class="invalid">
                        <i class="fa fa-warning"></i> The application Number must be a number
                    </em>
                </section>

                <section class="col col-4" ng-show="cancellation.notification === 'Ticket'">
                    <label class="label" for="ticket">Ticket ID</label>
                    <label class="input" ng-class="{'state-error':!cancellationform.ticket.firstTimer && cancellationform.ticket.$invalid, 'state-success':cancellationform.ticket.$valid}">
                        <input ng-model="cancellation.ticket" placeholder="Ticket ID" type="text"
                               name="ticket" id="ticket" first-timer capitalize ng-required="cancellation.notification === 'Ticket'">
                    </label>
                    <em ng-show="!cancellationform.ticket.firstTimer && cancellationform.ticket.$invalid" class="invalid">
                        <i class="fa fa-warning"></i> Please type a ticket id
                    </em>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="label" for="startdate">Start Date</label>
                    <label class="input" ng-class="{'state-error': !cancellationform.startdate.firstTimer && cancellationform.startdate.$invalid && cancellationform.startdate.$dirty, 'state-success': cancellationform.startdate.$valid}">
                        <i style="z-index:11" class="icon-prepend fa fa-calendar"></i>
                        <input style="z-index:10" type="text" ng-model="cancellation.StartDate"
                               name="startdate"
                               id="startdate" placeholder="Select a date" class="datepicker" data-datechangeyear="true"
                               data-datemindate="-100Y" data-datemaxdate="+1y" data-dateyearrange="-100:+1"
                               data-datechangemonth="true" date-formatter data-dateformat="dd/mm/yy" required
                               first-timer>
                    </label>
                    <em ng-show="!cancellationform.startdate.firstTimer && cancellationform.startdate.$error.required && cancellationform.startdate.$dirty" class="invalid">
                        <i class="fa fa-warning"></i> Please select a start date
                    </em>
                </section>


                <section class="col col-6">
                    <label class="label" for="notification">Cancellation Reason</label>
                    <label class="select" ng-class="{'state-error': !cancellationform.reason.firstTimer && cancellationform.reason.$invalid, 'state-success': cancellationform.reason.$valid}">
                        <select ng-model="cancellation.Reason" id="reason" name="reason"
                                ng-options="r.ID as r.Description for r in cancellationReasonTypes" required first-timer>
                            <option value="" selected="" disabled>Pick a reason</option>
                        </select>
                        <i></i>
                    </label>
                    <em ng-show="!cancellationform.reason.firstTimer && cancellationform.reason.$invalid" class="invalid">
                        <i class="fa fa-warning"></i> Please select a cancellation reason
                    </em>
                </section>
            </div>

            <div class="row">
                <section class="col col-sm-12">
                    <label class="label">Comments</label>
                    <label class="textarea textarea-expandable">
                        <i class="icon-append fa fa-comment"></i>
                        <textarea class="custom-scroll" rows="4" placeholder="Type your comments here..."
                                  ng-model="cancellation.Comments" name="comments" id="comments"></textarea>
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="label" for="newprovider">New Insurance Provider</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-building"></i>
                        <input ng-model="cancellation.NewProvider" placeholder="Type the client's new provider here" type="text"
                               name="newprovider" id="newprovider" capitalize>
                    </label>
                </section>

                <section class="col col-6">
                    <label class="label" for="newpremium">New Provider's Premium</label>
                    <label class="input" ng-class="{'state-error':cancellationform.newpremium.$invalid, 'state-success':cancellation.NewPremium && cancellationform.newpremium.$valid}">
                        <input ng-model="cancellation.NewPremium" placeholder="Type the client's new premium'"
                               type="number" name="newpremium" id="newpremium">
                    </label>
                    <em ng-show="cancellationform.newpremium.$invalid" class="invalid">
                        <i class="fa fa-warning"></i> Please select a cancellation reason
                    </em>
                </section>
            </div>

        </fieldset>

        <footer>
            <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" ng-disabled="saving" ng-click="save(cancellationform)" class="btn btn-primary">
                <span ng-hide="saving">Save</span>
                <span ng-show="saving">Saving&nbsp;<i class="fa fa-cog fa-spin"></i></span>
            </button>
        </footer>

    </form>


    <!--<div myformvalidate></div>-->


    <script>

        pageSetUp();


        // Load form validation dependency
        //loadScript("js/plugin/jquery-form/jquery-form.min.js", $objectForm);

    </script>

</div>

<script>
    //!function () {
    //    console.log('ok');
    //    console.log($(".fieldrequired").length);
    //}();
</script>